# Virtual Environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# VS Code
.vscode/
Backend/venv/git rm -r --cached venv